<div class="container">
    <div>
        <img src="https://res.cloudinary.com/zenbusiness/image/upload/v1670445040/logaster/logaster-2020-08-gipsi-gif-logo.gif"
            style="height: 50px" alt="logo image" />
    </div>
    <div class="search">
        <form class="searchbar">
            <input type="text" id="id1"placeholder="@Username+ tag to search within a verified channel " [(ngModel)]="term" name="term">
            <button type="submit" (click)="search()">Search</button>
        </form>
    </div>
</div>


